<% content_for :title, "Editing friend" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing friend</h1>

  <%= render "form", friend: @friend %>

  <%= link_to "Show this friend", @friend, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= link_to "Back to friends", friends_path, class: "w-full sm:w-auto text-center mt-2 sm:mt-0 sm:ml-2 rounded-md px-3.5 py-2.5 bg-gray-100 hover:bg-gray-50 inline-block font-medium" %>
  <%= button_to "Delete", @friend, method: :delete, class: "my-6 w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
</div>
