<nav class="bg-gray-800 ">
    <div class="items-center flex justify-between">
        <div class="p-5 text-amber-50 text-2xl"><h2>Friends app</h2></div>
        <div class="">
            <div class="px-5 flex space-x-4">
                <%= link_to 'Friend App', root_path, class: "rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"%>
                <%= link_to 'About Us', home_about_path, class: "rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white"%>
            </div>
        </div>
    </div>
</nav>
